body{
    background: #eee;
}

.todolist{
    background : #ffffff;
}

.done-field[readonly]{
    background: #ffffff;
    border : none;
    color : #cacaca ;
}

.add-field[autofocus]{
    border : none;
}

.btn-list{
    background: none;
    color : #828282;
}

.btn-square:hover{
   color : #28a745;
    transform: scale(1.2);
}

.btn-edit:hover{
    color : #007bff;
    transform: scale(1.2);
}

.btn-plus, .btn-edit,.btn-square ,.btn-trash{
    transition: transform ,  70ms;
}

.btn-plus:hover{
    color : #28a745;
    transform: scale(1.3);
}

.btn-trash:hover{
    color : #dc3545;
    transform: scale(1.3);
}



.input-edit + .input-group-append{
    visibility: hidden;
    opacity: 0;
    transition: opacity ,  400ms;
}

.input-edit:focus + .input-group-append{
    opacity: 1;
    visibility: visible;
}

.form-control:focus ,input[type="text"]{
    border: none;
    outline: none;
    box-shadow: none;
  
}





